* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #ffffff;
    --text-color: #0f172a;
    --main-color: #6b7280;
    --other-color: #334155;
    --big-font: 4.3rem;
    --h2-font: 2.2rem;
    --p-font: 1rem;

}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

.navbar {
    background-color: rgb(219, 248, 183);
}


.navbar-brand {
    font-weight: 500;
    color: black;
    font-size: 24px;
    transition: 0.3s red;
}

.navbar-brand i {
    padding-right: 40px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons i {
    height: 10px;
    width: 10px;
    background: rgb(219, 248, 183);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--other-color);
    font-size: 18px;
    margin-right: 10px;
    margin-left: 8px;
    transition: all .45s ease;
}

.icons i:hover {
    transform: scale(0.9);
}

.icons a {
    text-decoration: none;
    color: black;
    /* padding: 0 10px  0  10px; */
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 50px;
    transition: 0.3s background-color;
}

.icons a:hover {
    background-color: rgb(219, 248, 183);

}

.logo i {
    text-decoration: none;
    color: black;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: bolder;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #006ad4;
}

@media(min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #92fe84;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}




.info {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-top: 20vh;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




